In [3]:
library(dplyr)
library(tidyr)

In [16]:
data(diamonds)

Warning message in data(diamonds):
"data set 'diamonds' not found"

In [15]:
sleep

   extra group ID
1   0.7  1     1
2  -1.6  1     2
3  -0.2  1     3
4  -1.2  1     4
5  -0.1  1     5
6   3.4  1     6
7   3.7  1     7
8   0.8  1     8
9   0.0  1     9
10  2.0  1     10
11  1.9  2     1
12  0.8  2     2
13  1.1  2     3
14  0.1  2     4
15 -0.1  2     5
16  4.4  2     6
17  5.5  2     7
18  1.6  2     8
19  4.6  2     9
20  3.4  2     10